//== Colors
//
//## Gray and brand colors for use across application.

$white:#fff;

$gray-base:              #000;
$gray-darker:            #a2a3a3; 
$gray-dark:              #b6b8b6;
$gray:                   #caccca;
$gray-light:             #fafafa;
$gray-lighter:           #f5f2eb;


$brand-primary:         #0c3652;
$brand-secondary:       #184a6b;
$brand-info:            #f7826a;



//== Font Size

$font-size-base:          14px;
$font-size-large:         18px;
$font-size-small:         12px;
$font-size-xsmall:        10px;

$font-size-h1:            34px;
$font-size-h2:            30px;
$font-size-h3:            22px;
$font-size-h4:            18px;
$font-size-h5:            $font-size-base;
$font-size-h6:            12px;