.watch_our_story {
    background: url('../../assets/images/watch_our_story/watch_story_video_placeholder.jpg') no-repeat ;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    
    padding:65px 112px;
    width: 556px;
    height: 210px;
    color:white;
}

.play-btn{
    font-size: 30px;
}